body {
    margin:auto;
    background-image:url(static.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

h2 {
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

h5 {
    font-family: monospace;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
}

h6 {
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

button {
    margin-right: 5px;
    margin-bottom: 5px;
}
